spring:
  application:
    name: azmew-java-connector-poc

  datasource:
    url: jdbc:postgresql://localhost:5433/azmew_poc
    username: postgres
    password: admin@123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect